/*style for feedback form */

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;

}
body
{
background-color: white;
font-family: sans-serif;
font-size: 15px;
}

/*header{
  height: 80px;
}*/

main{

  height:  600px;
}


body #feeed {
  font-size: xx-large;
  font-weight: bolder;
  color: rgb(245, 248, 47);
      text-align: center;
      padding-top: 30px;
      padding-bottom: 30px;
      background-color: rgb(14, 190, 243);
    
  
   }


   
   #backkk{
  background-image: url('../styliingimaaages/52-527468_ratings-stars-quality-best-ranking-performance-transparent-background.png');
  background-repeat: no-repeat;
  background-size: 100%;
  padding: 140px;
  text-align: center;
  font-family: poppins;
  font-size: 200%;
 font-weight: 900sp;
}

.star-rating{

  margin-right: 50px;
}

#rateee{
  margin-left: 80px;
}



header {
  display: block;

}



header nav {
 /* position: fixed;*/
  display: block;
  width: 100%;
  top: 0;
  z-index: 10;
  height: 120px;
  background-image: url('../images/home2.jpg');
  /* background-color:yellow; */
}
header nav ul li {
    display: inline;
    padding: 10px;
    margin-bottom: 50px;
}
header nav ul{
  
    float: right;
    margin-right: 30px;
    margin-top: -30px;
   /* margin-top: -14px;*/
}
header nav ul li a {
    text-decoration: none;
    color: #e93b81;
    cursor: pointer;
    font-size: 20px;
    font-family: sans-serif;

  }
  header nav ul li a:hover{
 background-color:black;
 font-size: 18px;
  }



  div h1{
      text-align: left;
      float: inline-end;
      color: #e93b81;
      font-family: 'Frosty', sans-serif;
      font-size: 50px;
      padding-left: 10px;
      padding-top: 10px;
      font-weight: normal;
      margin-top: 30px;
  }
  div img {
  float: left;
  width: 230pxpx;
  height: 200px;
  }








* {    
    box-sizing: border-box;    
  }    
      
  input[type=text], select, textarea {    
    width: 100%;    
    padding: 12px;    
    border: 1px solid rgb(70, 68, 68);    
    border-radius: 4px;    
    resize: vertical;    
  }    
  input[type=email], select, textarea {    
    width: 100%;    
    padding: 12px;    
    border: 1px solid rgb(70, 68, 68);    
    border-radius: 4px;    
    resize: vertical;    
  }    
      
  label {    
    padding: 12px 12px 12px 0;    
    display: inline-block;    
  }    
      
  input[type=submit] {    
    background-color: rgb(37, 116, 161);    
    color: white;    
    padding: 12px 20px;    
    border: none;    
    border-radius: 4px;    
    cursor: pointer;    
    float: right;    
  }    
      
  input[type=submit]:hover {    
    background-color: #45a049;    
  }    
      
  .container {    
    border-radius: 5px;    
    background-color: #f2f2f2;    
    padding: 20px;    
  }    
      
  .col-25 {    
    float: left;    
    width: 25%;    
    margin-top: 6px;    
  }    
      
  .col-75 {    
    float: left;    
    width: 75%;    
    margin-top: 6px;    
  }    
      
  /* Clear floats after the columns */    
  .row:after {    
    content: "";    
    display: table;    
    clear: both;    
  }    
     
  /*for star rating system */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial;
}
.star-rating form {
    display: none;
}
.star-rating .thanks-msg {
    display: none;
    font-size: 20px;
    margin: 40px auto;
    color: rgb(14, 190, 243);
    background-color: rgba(76, 175, 80, 0.1411764705882353);
    padding: 8px 20px;
    border-left: 3px solid rgb(14, 190, 243);
    border-radius: 20px;
}
.star-rating input {
    display: none;
}
.star-rating {
    margin: 50px auto;
    display: table;
    width: 350px;
}
.star-rating label {
    padding: 10px;
    float: right;
    font-size: 44px;
    color: #eee;
}
.star-rating input:not(:checked) ~ label:hover,
.star-rating input:not(:checked) ~ label:hover ~ label {
    color: #ffc107;
}
.star-rating input:checked ~ label {
    color: #ffc107;
}
.star-rating form .rating-reaction:before {
    width: 100%;
    float: left;
    color: #ffc107;
}
.star-rating #rating-1:checked ~ form .rating-reaction:before {
    content: "I hate it";
}
.star-rating #rating-2:checked ~ form .rating-reaction:before {
    content: "I don't like it";
}
.star-rating #rating-3:checked ~ form .rating-reaction:before {
    content: "It is good";
}
.star-rating #rating-4:checked ~ form .rating-reaction:before {
    content: "I like it";
}
.star-rating #rating-5:checked ~ form .rating-reaction:before {
    content: "I love it";
}
.star-rating input:checked ~ form {
    border-top: 1px solid #ddd;
    width: 100%;
    padding-top: 15px;
    margin-top: 15px;
    display: inline-block;
}
.star-rating form .rating-reaction {
    font-size: 24px;
    float: left;
    text-transform: capitalize;
}
.star-rating form .submit-rating {
    border: none;
    outline: none;
    background: #795548;
    color: #ffc107;
    font-size: 18px;
    border-radius: 4px;
    padding: 5px 15px;
    cursor: pointer;
    float: right;
}
form .submit-rating:hover {
    background-color: #333;
}


footer{
  background-image: url('../images/home2.jpg');
    height: 120px;
}
#social a {
    font-size: 18px;
    display: inline-block;
    padding-left: 30px;
    padding-top: 35px;
  }
  #social a:first-child{
    margin-left: 100px;
  }
  #social a img{
    width: 50px;
    height: 50px;
  }
  #contact {
    color: #e93b81;
    margin-right: 10px;
    font-size: 18px;
    transform: translateY(30%);
    float: right;
    font-family: sans-serif;
    font-weight: bold;
    padding-top: 7px;
  }